<div class="col-md-4">
  <h2>Uneaten Burgers</h2>
  {{#each burgers_data}}
    {{#unless this.devoured}}
      <h3>{{this.burger_name}}</h3>
      <div>
        <form method="POST" action="/delete?_method=DELETE">
          <input input type="hidden" type="text" name="burger_id" value={{this.id}}><br>
          <button type="submit" class="btn btn-primary">Eat Burger</button>
        </form>
      </div>
    {{/unless}}
  {{/each}}
</div>
<div class="col-md-4">
  <h2>Add Burger</h2>
    <div>
      <form method="POST" action="/create">
        <input class="form-control" type="text" name="burger_name" value={{this.id}}><br>
        <button type="submit" class="btn btn-success">Add Burger</button>
      </form>
    </div>
</div>
<div class="col-md-4">
  <h2>Eaten Burgers</h2>
    {{#each burgers_data}}
      {{#if this.devoured}}
        <h3>{{this.burger_name}}</h3>
        <div>
          <!-- Update burger devoured status to false -->
          <form method="POST" action="/update?_method=PUT">
            <input type="hidden" type="text" name="burger_id" value={{this.id}}>
            <button type="submit" class="btn btn-info">Re-Add Burger to Que</button>
          </form>
          <form method="POST" action="/remove?_method=DELETE">
            <input type="hidden" type="text" name="burger_id" value={{this.id}}>
            <button type="submit" class="btn btn-danger">Delete Burger</button>
          </form>
        </div>
      {{/if}}  
    {{/each}}
</div>
